
.intro {
    background-image: url(/images/backgrounds/h_img.jpg);
    background-size: 100% 100%;
    height: 700px;
    width: 1500px;
    text-align: center;
    color: bisque;
    

}
.logo {
    border-radius: 50%;
}
.mouse {
    padding-bottom: 50px;
}
.about {
    text-align: center;
}

.service {
    background-image: url(/images/backgrounds/s_image.jpg);
    height: 350px;
    text-align: center;
    color: snow;
    font-weight: 500;
}
#container {
    height: 400px;
    width: 100%;

}
#container h4 {
    text-align: center;
}
.container {
    width: 70%;
    padding: 20px;
}

.what {
    text-align: center;
    display: flex;
    width: 100%;
    padding: 50px;
    align-content: center;

}
.main {
    width: 50%;
   
}

#parargraph {
    width: 100%;
       
}
.para {
    width: 80%;
    padding-right: 20px;
    display: none;
}

.project {
    position: relative;
}
.portfolio h4 {
    text-align: center;
}
.port {
    position: absolute;
    display: none;
    bottom: 50px;
    padding: 30px;
    
}

.project h4:hover{
    color: yellow;
    background: cyan;
    padding: 17px 25px;


}
.contact {
    background-image: url(/images/backgrounds/c_image.jpg);
    text-align: center;
    color: white;

}
input {
    background: transparent;
    color: white;
    margin: 20px;
}
label {
    color: white;
}
::placeholder {
    color: khaki;
}
#subject {
    background: transparent;
    margin: 20px;
    color: white;
}
.social {
    padding: 30px;
    text-align: center;
    border-radius: 50%;
}